:root {
	--mainColor: #1c1c1c;
	--mainFontAux: 'Aldrich';
	--mainFont1: 'Basic';
	--mainFont: Arial, Helvetica, sans-serif;
	--mainFont2: "futura-pt", sans-serif;
	--sidebarWidth: 100px;
	--violet: #7044d6;
	--paddingLeftRightColumn:5%;
};

.oblique {
	font-style:oblique;
}

.italic {
	font-style:italic;
}

.bold {
	font-weight:bold;
}

.blue {
	color: #5b1a5a;
}

.text-align-left {
	text-align: left;
}

.overflow-scroll {
	overflow:scroll;
}

a {
	color: rgba(255,255,255,0.8);
	text-decoration: none;
}

.inline-hyperlink {
	color: var(--violet);
}

a:hover {
	text-decoration:none;
}

.antiscroll-wrap {
	display:inline-block;
	position:relative;
	overflow:;
	height:100%;
	width:100%;
}

.antiscroll-inner {
	float:right !important;
}

html {
	 background-color: #060742;
	 font-family: var(--mainFont);
}

#outer_container {
	width:100%;
}

body {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	background-color: var(--mainColor);
	font-family: var(--mainFont);
	width:100%;
	min-height: 100vh;
	text-align: center;
}

#Link {
	text-decoration:none;
	color: rgba(255,255,255,1);
}

#Link:hover {
	text-decoration:none;
	color: rgba(255,255,255,0.8);
}

.active-Link {
	text-decoration: none;
	color: rgba(255,255,255,1);
}

.custom-link {
	text-decoration:none;
}

#app {
	min-height: 100vh;
	font-family: var(--mainFont);
}

#nav-wrapper {
	display:block;
	position:relative;
	top:35%;
}

#bar {
	z-index: 1;
	position:fixed;
	left:0;
	top:0;
	width: var(--sidebarWidth);
	height: 100vh;
	display:block;
	text-align: center;
	background-color: rgba(0,0,0,0.9);

}

#logo-bar {
	width: 60px;
	height:auto;
	position:fixed;
	top:45%;
	left:20px;
}

.nav-link {
	color: rgb(184, 183, 173);
	font-weight:normal
	font-family: var(--mainFont);
}

.nav-link:hover {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

#legal-in-sidebar {
	color: #666;
	padding-bottom:25px;
	padding-left:25px;
}

#legal-in-sidebar-absolute {
	position:absolute;
	bottom:25px;
	left:25px;
}

#legal-logo {
	width: 100px;
	height: auto;
	display:block;
}

.page {
	min-height: 100vh;
	width:100%;
	color:white;
	overflow-x:auto;
	overflow-y:auto;
	position:fixed;
	top: 0;
	left: 0;
}

.page-content {
	background-color:transparent;
	height:100vh;
	width:100%;
	top:0;
	left:0;
	overflow-x:hidden;
}

#background-video {
	position: fixed;
    top: 0%;
    left: 0%;
    min-height:100%;
    min-width:100%;
}

#homepage-background-image-div {
		background-image:none;
		background-color:none;
}

#page-wrap {
	min-height: 100%;
}

#home-page {
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width:100%;
	background-color: var(--mainColor);
}

#home-page video {
	min-height: 100%;
	min-width:100%;
}

.page-title {
	position: relative;
	padding-top:5%;
	font-weight:bolder;
	font-size: 3.45em;
	-webkit-font-smoothing: antialiased;
}

#homepage-title {
		font-family: var(--mainFontAux);
		padding-top: 12%;
		margin-left: var(--sidebarWidth);
}

#homepage-button-wrapper {
	/*background-color: rgba(0,0,0,.5);
  	background-blend-mode: multiply;*/
  	position:relative;
  	padding: 5% 0px 5% 0px;
  	margin-top: 5%;
  	margin-left:auto;
  	margin-right:auto;
}

.block-button {
	display: inline-block;
	width:30%;
	text-align:center;
	padding: 0% 5% 0% 5%;
}

.block-button:hover {
	padding:;
}

.block-button-2 {
	display:inline-block;
	width:100%;
	text-align:center;
	padding: 0% 5% 0% 5%;
}

.homepage-button {
	color:rgba(255,255,255,0.9);
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	min-height: 60px;
	line-height:1;
	text-align:center;
	vertical-align: middle;
	white-space: normal;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
}

.homepage-button:hover {
	background-color: rgba(0,0,0,.9);
  	background-blend-mode: multiply;
  	color: white;
  	vertical-align: middle;
  	font-weight: bold;
}

.homepage-button-2 {
	color:rgba(255,255,255,0.9);
	background-color: rgba(0,0,0,0.7);
	border: solid 1px #666;
	width: 100%;
	min-height: 80px;
	line-height:1.2;
	text-align:center;
	vertical-align: middle;
	white-space: normal;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
}

.homepage-button-2:hover {
	text-decoration: none;
	color:rgba(255,255,255,0.9);
	background-color: rgba(0,0,0,0.9);
	border: solid 1px #7044d6;
	cursor: pointer;
}

.dark-tint {
	min-height: 100vh;
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) , rgba(0,0,0,0.5)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, rgba(0,0,0,0) , rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, rgba(0,0,0,0) , rgba(0,0,0,0.5)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, rgba(0,0,0,0) , rgba(0,0,0,0.5)); /* Standard syntax */
}

.dark-tint-overlay{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	background-color: rgba(0,0,0,.2);
  	background-blend-mode: multiply;
}

#home-page-overlay{
	color: #fff;
	z-index: 1;
	
}

#global-warming-quote {
	padding: 0 2% 2% 0;
	text-align:right;
	color: rgba(173, 173, 173, 0.5);
	position:fixed;
	bottom: 0;
	right: 0;
	z-index: 5000000;
}

#big-data-page {
	color:white;
	background-image: url(./pics/data_architecture_2.jpg);
	background-repeat: no-repeat;
	background-position: left-top;
	background-size: cover;
}

.left-column {
	position:fixed;
	left:0;
	top:0;
	width: 47%;
	min-height: 100%;
}

.right-column {
	z-index: 1000;
	height: 100vh;
	overflow:auto;
	color: grey;
	float: right;
	width: 53%;
	margin-right: 0%;
	background-color: #fff;
	min-height: 100%;
	padding-bottom:5%;
	text-align:center;
}

.pad-left-right-column {
	padding-left: var(--paddingLeftRightColumn);
}

#ul-section-title {
	font-size: 1.5em;
	font-weight: normal;
	margin-left:5px;
}

#corporate-enablement-program-content {
		padding-left: var(--sidebarWidth);
		padding-bottom:5%;
	}

#corporate-left-column {
	width:40%;
	height:100%;
	overflow-y:hidden;
	overflow-x:hidden;
}

#corporate-right-column {
	padding-top:2%;
	width:60%;
}

#corporate-right-column-content {
	margin-left:3%;
}

#corporate-left-column-list-carousel {
	display:none;
}

#offering-list-left-column {
	height:70%;
	padding-top:5%;
	text-align:right;
	margin-left: var(--sidebarWidth);
	overflow:hidden;
}

.anti-scroll {
	height:70%;
	display:block;
	width:105%;
	overflow:auto;
}


#corporate-left-column-list-div {
	height:100%;
	width:100%;
	padding-right:10%;
}

.course-sub-offering-title {
	text-transform: uppercase;
	font-weight: bold;
	width:100%;
	float:right;
	color: rgba(255,255,255,0.6);
	padding-left: 5%;
}

.course-sub-offering-title:hover {
	color: #fff;
	cursor:pointer;

}

.offering-description-title {
	font-weight: bolder;
	font-size: 2em;
	width:90%;
	color: rgba(0,0,0,0.6);
}

.clickable-offering-description-title {
	font-size:1.5em;
	padding-left:7%;
}

.clickable-offering-description-title:hover {
	cursor:pointer;
}

.example-expand-button {
	font-size: 2px;
}

.toggle-show-wrapper {
	text-align: left;
}

.offering-example-text-hidden {
	display:block;
	max-height:0;
	overflow:hidden;
	-webkit-transition: max-height 0.6s ease-in-out;
       -moz-transition: max-height 0.6s ease-in-out;
        -ms-transition: max-height 0.6s ease-in-out;
         -o-transition: max-height 0.6s ease-in-out;
            transition: max-height 0.6s ease-in-out;
}

.offering-example-text-shown {
	display:block;
	max-height:500%;
	overflow:hidden;
	-webkit-transition: max-height 1s ease-in-out;
       -moz-transition: max-height 1s ease-in-out;
        -ms-transition: max-height 1s ease-in-out;
         -o-transition: max-height 1s ease-in-out;
            transition: max-height 1s ease-in-out;
}

.offering-description-div {
	width: 80%;
	padding-left:5%;
	text-align:left;
	font-size: 1.3em;
}

#offering-pic {
	z-index: 0;
	position:fixed;
	top:0;
	left: 5%;
	margin-top: 0%;
	width: 3%;
	height: auto;
	overflow:hidden;
}

#offering-pic-mobile {
	display:none;
}

.right-column-content {
	margin-top:5%;
}

.course-description-text {
	background-color: rgba(0,0,0,0.1);
	padding: 1.5%;
	font-size: 1.5em;
	line-height: 1.4;
	margin-top: 5%;
	width: 60%;
	text-align:center;
	position:relative;
	margin-left: auto;
	margin-right: auto;
}

.course-description-text-note {
	color: rgba(255,255,255,0.3);
	text-align: left;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.offerings-buttons-wrapper {
	margin-top: 6%;
	text-align: center;
}

.button-link {
	vertical-align: middle;
	color: #fff;
	font-weight: bold;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	min-height: 100%;
	line-height:1;
	border: solid 1px #666;
	padding: 30px 20px 30px 20px;
}

.button-link:hover {
	text-decoration: none;
	border: solid 1px #7044d6;
	cursor: pointer;
}

#offerings-buttons-table {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	vertical-align: middle;
	border-spacing: 15px;
}

#offerings-buttons-table tr {
	vertical-align: middle;
}

#offerings-buttons-table td {
	padding: 0px 5px 0px 5px;
	width: 350px;

}

#team-page-content {
	font-size: 1.5em;
	margin-top: 5%;
}

#team-page-content-wrapper{
	background-color: rgba(0,0,0,0.9);
	padding-bottom:5%;
}

#team-page-content-sub-wrapper {
	text-align:left;
	width: 50%;
	margin-left:auto;
	margin-right:auto;
}

.name-link {
	color: #e0e0e0;
}

.name-link:hover {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.left-column-bio {
	position:fixed;
	left:0;
	top:0;
	margin-left: 0%;
	width: 40%;
	min-height: 100%;
}

.right-column-bio {
	height: 100vh;
	overflow:auto;
	color: grey;
	float: right;
	width: 60%;
	margin-right: 0%;
	background-color: #fff;
	min-height: 100%;
	text-align:center;
}

#offering-title {
	background-color: rgba(0,0,0,0.6);
	padding-bottom: 5%;
	margin-top:5%;
	margin-left: var(--sidebarWidth);
}

.person-role {
	padding: 0px 20px 5px 5px;
	font-size: 0.5em;
	color: #727272;
	font-weight:bold;
}

#profile-photo {
	margin-top:0%;
	display:block;
	width:100%;
	height:auto;
	object-fit: cover;
	object-position: center;
}

#profile-name {
	padding-left:8%;
	width:60%;
	text-align: left;
	font-size: 5em;
	font-weight: bold;
	background-color:rgba(0,0,0,0.1);
}

#profile-role {
	color: #f4b342;
	width:60%;
	text-align: left;
	font-size: 3em;
	font-weight: bold italic;
	padding-left:12%;
}

.bio-content {
	width:98%;
	padding-top:30%;
}

#tiny-logo {
	width:50px;
	height:auto;
	z-index:100000;
}

.back-button:hover {
	cursor:pointer;
}

#bar-mobile {
	display:none;
}

#cognitive-transformation-content-wrapper {
	padding-left: var(--sidebarWidth);
	padding-bottom: 5%;
}

#expertises-page {
	background-image: url("/pics/expertises.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
	overflow:auto;
	height:100%;
}

.expertises-page-content  {
	background-color: rgba(255,255,255,0.95);
	color: #060742;
	width:60%;
	margin-left: var(--sidebarWidth);
	padding-left:3%;
}

#expertises-page-content-right {
	padding-bottom:3%;
}

.expertises-title {
	width:90%;
}

#expertises-title-1 {
	text-align:left;
	margin-left:3%;
}

.expertises-page-content-div {
	text-align:left;
	color:grey;
	width:95%;
}








@media only screen and (max-width: 1024px) {
	#homepage-background-image-div {
		background-image:none;
		background-color:none;
	}

	.page {
		min-height:100%;
		max-height:auto;
		overflow-x:auto;
		overflow-y:auto;
	}

	.page-content {
	}

	#corporate-enablement-program-wrapper {
		overflow-x:auto;
		overflow-y:auto;
	}

	#bar {
		display:none;
	}	

	#bar-mobile {
		width:100%;
		position:relative;
		top:0;
		left:0;
		z-index:1;
		display: block;
		text-align: center;
	}

	.nav-link-mobile {
		vertical-align: middle;
		padding: 10px 0 10px 0;
		float:left;
		display:block;
		width:25%;
		background-color:rgba(0,0,0,0.9);
		color: rgb(184, 183, 173);
	}

	.nav-link-mobile:hover {
		background-color: rgba(0,0,0,0.5);
		text-decoration: none;
		color: #fff;
	}

	.nav-link-mobile-label {
		width:100%;
		text-decoration: none;
	}

	#page-wrap {
		min-height: 100vh;
		margin-left: 0;
	}

	.page-title {
		padding-top: 7%;
		position: relative;
		font-weight:bolder;
		font-size: 1.5em;
		-webkit-font-smoothing: antialiased;
	}

	#homepage-title {
		padding-top: 14%;
		margin-left:0;
	}

	.homepage-button {
		min-height: 90px;
	}

	#homepage-button-wrapper {
		/*background-color: rgba(0,0,0,.5);
	  	background-blend-mode: multiply;*/
	  	position:relative;
	  	display:block;
	  	width:100%;
	  	text-align: justify;
	  	padding: 5% 0px 10% 0px;
	  	margin-top: 5%;
	  	margin-left:auto;
	  	margin-right:auto;
	}

	.block-button {
		display: block;
		width:100%;
		text-align:center;
		padding: 0% 5% 0% 5%;
	}

	.block-button-2 {
		min-height: 110px;
	}

	.course-description-text {
		background-color: rgba(0,0,0,0.1);
		padding: 1.5%;
		font-size: 1.5em;
		line-height: 1.4;
		margin-top: 5%;
		width: 95%;
		text-align:center;
		position:relative;
		margin-left: auto;
		margin-right: auto;
	}

	.course-description-text-note {
		width: 95%;
	}

	#offering-pic {
		display:none;
	}

	#offering-title {
		margin-top:3%;
		padding-top:3%;
		padding-bottom:3%;
		font-size: 3em;
		margin-left:0;
	}

	#offering-pic-mobile {
		z-index: 0;
		position:absolute;
		float:left;
		width:100%;
		display:block;
		top:0;
		left:0;
		margin-top: 0%;
	}

	.left-column {
		min-height: 0%;
		text-align:center;
		vertical-align:middle;
		display:block;
		position:relative;
		left:0;
		top:0;
		width: 100%;
		height: auto;
		min-height:0;
		overflow: hidden;
	}

	.right-column {
		color: grey;
		float: right;
		width: 100%;
		height:auto;
		background-color: #fff;
		text-align:center;
	}

	#offerings-buttons-table td {
		padding: 0px 5px 0px 5px;
		width: 250px;

	}

	.button-link {
		margin-top:auto;
		margin-bottom:auto;
		color: #fff;
		font-weight: bold;
		font-size:1em;
		width: 100%;
		min-height: 110px;
		border: solid 1px #666;
		padding: 30px 20px 30px 20px;
	}


	.anti-scroll {
		display:block;
		width:105%;
		overflow:hidden;
	}

	.button-link:hover {
		text-decoration: none;
	}

	#team-page-content-wrapper{
		padding-top:30px;
	}

	.left-column-bio {
		position:relative;
		left:0;
		top:0;
		margin-left: 0%;
		width: 100%;
		min-height: 0%;
		height: 560px;
		overflow:hidden;
	}

	.right-column-bio {
		height: auto;
		overflow:auto;
		color: grey;
		float: right;
		width: 100%;
		margin-right: 0%;
		background-color: #fff;
		min-height: 0%;
		text-align:center;
		padding-bottom:5%;
	}

	.person-role {
		font-size: 0.5em;
		color: #727272;
		font-weight:bold;
	}

	#profile-photo {
		margin-top:0%;
		display:block;
		width:auto;
		height:300px;
		margin-left:auto;
		margin-right:auto;
	}

	#profile-name {
		margin-left:8%;
		width:92%;
		text-align: left;
		font-size: 5em;
		font-weight: bold;
	}

	#profile-role {
		color: #f4b342;
		margin-left:12%;
		width:88%;
		text-align: left;
		font-size: 3em;
		font-weight: bold italic;
	}

	.bio-content {
		width:98%;
		padding-top:0%;
		margin-left:2%;
	}

	#expertises-page {
		position:fixed;
		top:0;
		left:0;
		background-image: url("/pics/expertises.jpg");
		background-repeat:no-repeat;
		background-size:cover;
		background-attachment: fixed;
		overflow:auto;
		height:100%;
	}

	.expertises-page-content  {
		position:relative;
		float:left;
		background-color: rgba(255,255,255,0.95);
		color: #060742;
		width:75%;
		margin-left: 0;
		padding-left:3%;
	}

	#expertises-page-content-left {
		padding-top:50px;
	}

	#expertises-page-content-right {
		padding-bottom:3%;
	}

	#expertises-title-1 {
		text-align:left;
		margin-left:3%;
	}

	.expertises-page-content-div {
		text-align:left;
		color:grey;
	}

	#cognitive-transformation-content-wrapper {
		padding-left: 0;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	#corporate-enablement-program-content {
		padding-top:30px;
		padding-left:0px;
		margin-left:0;
		overflow:auto;
	}
	#corporate-left-column {
		width:100%;
		height:auto;
	}

	#corporate-right-column {
		padding-top:2%;
		width:100%;
		height:auto;
	}

	#corporate-right-column-content {
		margin-left:3%;
	}

	#corporate-left-column-list-div {
		display:none;
	}

	#corporate-left-column-list-carousel {
		display:block;
		height:30%;
		width:85%;
		margin-left:auto;
		padding-left:5%;
		margin-right: auto;
	}

	.anti-scroll {
		display:none;
	}

	#offering-list-left-column {
		height:auto;
		padding-right:5%;
		padding-top:5%;
		width:100%;
		text-align:right;
		margin-left: 0;
	}


	#global-warming-quote {
		display:none;
	}

	#menuComponent {
		display:none;
	}

	.bm-burger-button {
		display:none;
	}

	.bmBurgerBars {
		display:none;
	}
}

@media only screen and (max-width: 560px) {
	.dark-tint {
		padding-top:35%;
	}

	.page-content {
		width:100%;
	}

	.page-content {
		padding-top:5%;
	}

	.button-link {
		display:block;
		clear:both;
	}

	.homepage-button-2 {
		display:block;
		width:100%;
	}

	#offerings-buttons-table td {
		display:block;
		clear:both;
		width:100%;
	}

	.left-column {
	}

	#corporate-enablement-program-content {
		padding-top:50px;
		padding-left:0px;
	}
	#corporate-left-column {
		width:100%;
		height:auto;
	}

	#corporate-right-column {
		padding-top:2%;
		width:100%;
	}

	#corporate-right-column-content {
		margin-left:3%;
	}

	#offering-list-left-column {
		padding-right:5%;
		padding-top:5%;
		width:100%;
		text-align:right;
		margin-left: 0;
	}

	#corporate-left-column-list-div {
		display:none;
	}

	#corporate-left-column-list-carousel {
		display:block;
		height:30%;
		width:85%;
		margin-left:auto;
		padding-left:5%;
		margin-right: auto;
	}

	#profile-name {
		font-size: 4em;
	}

	.slider-div {
		padding:50px 0 50px 0;
		height:100px;
		width:100%;
	}

}

@media (max-width: 1024px) and (orientation: portrait) {
	.left-column {
	}
}

